
/* PIE DE PAGINA */

.footer {
    background-color: #585a67;
    grid-area: footer;
    color: white;
    width: auto fit-content;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}