.logo {
    display: flex;
    margin: 1px;

    a {
        color: white;
        text-decoration: none;

        
    }

    img {
        width: auto;
        height: 100px;
        margin: auto;
    
    }
}

