.nav {
    width: 100%;
    display: flex;
    grid-area: nav;
    background-color: #4E5169;
    justify-content: space-evenly;
    max-width: none;

    .transformacion {
        .nav-link{
            color: white;

            &:hover {
                color: black;
    
            }
        }

       



    }
}