@mixin siempreAsi ($sacarPuntitos,$paddingPRESET) {
text-decoration: $sacarPuntitos;
padding: $paddingPRESET;
    
}

.nav {
    width: 100%;
    display: flex;
    grid-area: nav;
    background-color: #4E5169;
    justify-content: space-evenly;
    max-width: none;

    .flexPadre {
        list-style: none;
        color: rgb(255, 255, 255);
        @include siempreAsi(none,15px);
        position: relative;
        display: flex;
        margin: 20px;

        a {
            color: white;
            font-size: large;
            @include siempreAsi(none,15px);
            text-transform: uppercase;

            &:hover {
                transform: scale(1.1);
                background: #0074c7;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

            }
        }
    }

}